@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04342C;
  color: #E1F5EE;
  font-family: 'Inter', system-ui, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #085041;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: #1D9E75;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-track {
  background: #085041;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #1D9E75;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: none;
}
